<p>
    <label>Name:</label>
    <input class="form-control" ng-model="contact.name" placeholder="Name"/>
</p>

<p>
    <label>Email:</label>
    <input class="form-control" ng-model="contact.email" placeholder="Email"/>
</p>

<p>
    <label>Phone:</label>
    <input class="form-control" ng-model="contact.phone" placeholder="Phone"/>
</p>

<p>
    <label>Comment:</label>
    <textarea class="form-control" ng-model="contact.comment"></textarea>
</p>

<p>
    <button class="btn btn-success" ng-click="add()">Submit</button>
</p>

